{% extends 'base.html' %}

{% load staticfiles %}
{% load gravatar %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

    <h2>{{ post.title }}</h2>
    <image src ="{% gravatar_url post.author.email 150 %}" height="30" width="30"/></h4>{{ post.author }}</h4>

    <p>{{ post.text }}</p>


    <hr>
        <a class="btn btn-default" href="{% url 'comment_on_post' slug=post.slug %}">Add comment</a>

        {% for comment in post.comments.all %}

                <h3>  <strong> {{ comment.title }}</strong></h3>

            <p>{{ comment.content }}</p>
            <p> <strong>{{ comment.commenter }}</strong>
          <image src ="{% gravatar_url post.author.email 150 %}" height="30" width="30"/>
  
          </p>
          

        <form action={% url 'delete_comment' %} method="POST">{% csrf_token %}  
        <p>Do you wish to delete this comment?</p>
         <input type="hidden" name="pk" value="{{ comment.pk }}"/>
        <button type="submit" class="save btn btn-default">Delete</button>
    </form>

            {% empty %}

        <p>No comments here yet :(</p>


    
        {% endfor %}

    {% comment %} {% if user = request.user: %} {% endcomment %}

    <form action={% url 'delete_new_post' %} method="POST">{% csrf_token %}
    <p>Do you wish to delete this post?</p>
    <input type="hidden" name="pk" value="{{ post.pk }}"/>
    <button type="submit" class="save btn btn-default">Delete</button>
    </form>
    
</div>
     {% endblock content %}

