.header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4yTVNQEorUsf7lWeTuxzpHvPzZ4agqig2KDIADhz649w0tNWA") ;
    width: 100%;

}
nav {

    float: right;
}
a {

    color: green;
    /* text-decoration: underline; */

}

body { 
    
    background-color: whitesmoke;
    padding-top: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
    margin: 1rem;

}

h1 {
    padding: 2rem;
    color: rgb(174, 59, 59);

}

.blinking
        
        {
            animation: blinker 5s linear infinite;
          }
          
          @keyframes blinker {

            0%{     color: red;    }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: red;    }
           
        }


.author {
     
    color: maroon;
}

.comment {

    font-size:15px;
    color: greenyellow;

}

.btn {
    background-color: rgb(214, 232, 166);
   
    cursor: pointer; }


.btn:hover {
    background-color: RoyalBlue;
}



/* 

"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWeZPYgvfoCiE7VKu0cQij2V3VtXwLMxA4732pNOFgYaytGBFs"
    ); */